[flake8]
max-line-length = 120
extend-ignore = E203, W503
builtins = __class__
exclude =
    src,
    doc,
    install,
    install-lcls1,
    examples,
    build,
    .eggs/,
    ami/flowchart/library/Roi.py,
