[flake8]
max-line-length=120
builtins=__class__
exclude=
    src,
    doc,
    install,
    install-lcls1,
    examples,
    build,
    .eggs/,
    ami/flowchart/library/UtilsROI.py,
    ami/flowchart/library/Roi.py,
    ami/flowchart/library/ex_roi.py,
    ami/flowchart/library/ex_roi_handles.py,
