setup_env_local.sh
build_*_env.sh
build
install
install-lcls1
htmlcov/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage
*.pyc
*.egg-info/
*~
*.so
*.xtc
*.xtc2
*.h5
*.ami
*.fc
*.last
*.swp
.dmypy.json
.agignore
.gdb_history
examples/*
